main {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "menu_nav"
        "filtro"
        "productos"
        "footer";
}

nav {
    grid-area: menu_nav;
    padding: 10px;
    color: white;
    background-color: #00579c;
    flex-direction: column;
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-around;
}


.menu a {
    color: #FFF;
}

section {
    grid-area: filtro;
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    background-color: #E2e2e2;
}



.tarjetas {
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: auto;
    padding: 10px;
    gap: 10px;
    row-gap: 10px;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    justify-content: center;
}


footer {
    grid-area: footer;
    color: white;
    background-color: #012f6b;
    flex-direction: column;
    text-align: center;
}


.compaginador {
    background-color: #6f6e6e;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 45px;
    height: 0px;

}



@media (min-width: 576px) {
    main {
        grid-template-areas:
            "menu_nav filtro filtro"
            "menu_nav productos productos"
            "footer productos productos";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 5fr;
    }

    .barra {
        display: none;
    }
}

@media (max-width: 576px) {
    .tarjetas {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu {
        display: none;
    }
}